In [1]:
import json
import urllib.request

In [2]:
with urllib.request.urlopen("https://raw.githubusercontent.com/microsoft/JigsawDataset/main/datasets/PandasEval2.json") as url:
    data = json.loads(url.read().decode())

<!--
# 0 :  Rename column 'a' to 'Person Name' and column 'b' to 'Credit' in dfin and assign to dfout
# 1 :  Filter rows where value1 is divisible by 3 in dfin and assign to dfout
# 2 :  Concatenate dfin 3 times and assign to dfout
# 3 :  Get fourth value from column 'C' in dfin and assign to dfout
# 4 :  Filter all rows with alpha less than 40 or greater than 59 from dfin
# 5 :  Filter all rows with alpha less than 40 or greater than 59 and filter all rows with beta equal to 3 from dfin
# 6 :  filter all rows in 'dfin1' where value in column 'alpha' is not present in column 'alpha' of 'dfin2'
# 7 :  filter all rows where value in column 'foo' is less than 40 or greater than 50 and value in column 'bar' is not equal to 8
# 8 :  take average of the previous 3 rows for each row of column 'a' except 1 and 2 row and assign back to 'a'
# 9 :  join 'dfin1' and 'dfin2' column 'Type1' equals 'Type2' and 'Date1' equals 'Date2'
# 10 :  remove NaN values from "delta" and "phi" columns
# 11 :  in dataframe 'dfin' replace 'United States' in 'location' column with value 'US' and replace '3434' in 'zip' column with '4343'
# 12 :  sort 'dfin' by index in ascending order
# 13 :  create dataframe with values from column 'val' in dataframe dfin with values from column 'who' as the index and values from column 'timestamp' as the column
# 14 :  convert unique values in column 'target' to numeric encoding
# 15 :  count of duplicate rows
# 16 :  Keep only one row per unique value of column 'f2' in dataframe 'dfin'
# 17 :  In dataframe 'dfin' change values smaller than 10 to 10
# 18 :  Given a dataframe dfin, remove all rows where there exists a cell with value '-'
# 19 :  Remove rows from dataframe 'data' that are present in dataframe 'test'
20 :  Get the argmax of the first 3 columns for each row and assign it to a new column 'Pred'
-->
## Semantic mappings of the 21 tasks
* 0: rename columns
* 1: filter rows based on column % number
* 2: repeat rows n times
* 3: get nth value from column
* 4: filter rows if value in range
* 5: filter rows if col1 value in range and col2 value equal constant
* 6: filter rows in df1 if same row in df2 present
* 7: filter rows if col1 value out of range and col2 value not equal constant
* 8: update with rolling average
* 9: join on multiple columns
* 10: remove NaN values
* 11: replace values in column
* 12: sort by index
* 13: pivot table
* 14: encode categorical values
* 15: count duplicates
* 16: remove duplicates
* 17: clip
* 18: remove rows where any value is some constant
* 19: remove rows in df1 if same row in df2 present
* 20: get argmax of first n columns

##### FUN fact -- generated these mappings from copilot itself!!! :)
How? -- I added user queries as comments and prompted copilot to describe the task by giving examples

#### Interesting tasks
['2', '8', '9', '10', '13', '14',  '15', '16', '17', '18', '19', '20']

In [20]:
# total = 0
# for i in range(21):
#     sets = data[f"{i}"]['sets']
#     queries = sum([v['queries'] for _,v in sets.items()],[])
#     print(i, ": ", queries[0]['query'])
#     total += len(queries)
# print(total)

In [4]:
def getAllQueriesForTask(task):
    sets = data[f"{task}"]['sets']
    queries = [x['query'] for x in sum([v['queries'] for _,v in sets.items()],[])]
    print(f"Found {len(queries)} queries for task {task}")
    return queries

In [5]:
for q in getAllQueriesForTask(13):
    print(q)

Found 4 queries for task 13
create dataframe with values from column 'val' in dataframe dfin with values from column 'who' as the index and values from column 'timestamp' as the column
create dataframe with values from column 'val' in dataframe dfin with unique values from column 'who' as the index and unique values from column 'timestamp' as the column
create new dataframe from dataframe dfin with 'timestamp' as the columns, 'who' as the rows and values from 'val'
Pivot dfin on column 'date'

In [6]:
for q in getAllQueriesForTask(17):
    print(q)

Found 66 queries for task 17
In dataframe 'dfin' change values smaller than 10 to 10
In dataframe 'dfin' replace values smaller than 10 to 10
In dataframe 'dfin' set values that are smaller than 10 to 10
In column 'f2' in dataframe 'dfin' set values that are smaller than 10 to 10
In column 'f2' in dataframe 'dfin' set values that are smaller than 10 to 10 inplace
Modify values in column 'f2' in dataframe 'dfin' that are smaller than 10 to the value 10
find values in column 'f2' in dataframe 'dfin' that are smaller than 10 and change those values to 10
find values in column 'f2' in dataframe 'dfin' that are smaller than 10 and replace them with 10
change ftr2 column values to 5 if they are less than 5
select all rows and change ftr2 column values to 5 if they are less than 5
select all rows and change "ftr2" column value to 5 if value is less than 5
change "ftr2" column value to 5 if value is less than 5
if "ftr2" value is less than 5 then change it to 5
if "ftr2" value is less than 5 then change it to 5 and return all rows
for val in "ft2" val=5 if val<5
if val of "ftr2" <5 then val=5
select rows and change value of "ftr2" column if less than 5 to 5
inplace transform of ftr2 columns if value less than 5 to 5
replace values less than 5 with 5 in "ftr2" column in dfin
replace values less than 5 with 5 in "ftr2" column in dfin inplace return dfin
for each row replace ftr2 value if less than 5 with 5
If value of 'feat2' in greater than 10, replace it with 10
If value of 'feat2' is greater than 10, replace it with 10
Limit the value in column 'feat2' to 10
Given a dataframe dfin, if 'feat2' is greater than 10, replace the cell value to 10
Given a dataframe dfin, if 'feat2' is greater than 10 replace the cell value to 10
Replace all values in 'feat2' greater than '10' with '10'
Replace all values in 'feat2' greater than 10 with 10
Convert negative numberts to 0 in 'inp2'
Convert negative numberts of 'dfin' to 0 in column 'inp2'
Convert negative numberts to 0 in column 'inp2'
Convert negative numbers of 'dfin' to 0 in column 'inp2'
Change value of column 'inp2' to 0 if value of column 'inp2' is less than 0
replace negative values in 'inp2' by 0
if 'inp2'<0 then 'inp2'=0
replace 'inp2' by 0 if 'inp2' less than 0
replace column 'inp2' in 'dfin' with 0 if 'inp2' less than 0
replace values in column 'inp2' in 'dfin' with 0 if 'inp2' less than 0
replace values in column 'inp2' in table 'dfin' with 0 if 'inp2' less than 0
copy dfin to dfout; replace negative values in column 'inp2' by 0
replace value in column 'inp2' with 0 if value is less than 0
replace elements that are greater than 0 with 0 in column 'inputB'
replace positive elements with 0 in column 'inputB'
replace positive elements by 0 in column 'inputB'
replace elements greater than 0 by 0 in column 'inputB'
replace elements greater than 0 by zero in column 'inputB'
in column 'inputB', replace elements greater than 0 by zero
in column 'inputB', replace positive values by zero
replace positive values in column 'inputB' by zero
replace positive values in column 'inputB' by zero'
if value in column 'inputB' > 0 replace with 0
replace value in column 'inputB' with 0 if value > 0
replace positive vlues of column 'inputB' with 0
replace positive values of column 'inputB' to '0'
set positive values in column 'inputB' to '0'
Set inputB=0 if inputB<0
replace inputB with 0 if inputB>0
set inputB as 0 if inputB>0
Replace column 'inputB' with 0 if inputB>0
Replace 'inputB' with 0 if inputB>0
Replace 'inputB' with 0 if inputB is positive
if inputB>0 set inputB=0
if inputB>0 update inputB=0
replace values greater than 0 with 0 in 'inputB' column in 'dfin'
update values greater than 0 in 'inputB' column with 0
'inputB' = 0 if 'inputB' > 0 in dfin

In [49]:
CLUSTER = True
if CLUSTER:
    import re
    numRegex = '\d+\.?\d*'

    from sentence_transformers import SentenceTransformer
    from sklearn.cluster import AgglomerativeClustering
    import numpy as np
    import torch

    embedder = SentenceTransformer('all-MiniLM-L6-v2').to(torch.device('mps'))



def getAllQueriesForTask(task):
    sets = data[f"{task}"]['sets']
    queries = [x['query'] for x in sum([v['queries'] for _,v in sets.items()],[])]
    print(f"Found {len(queries)} queries for task {task}")
    if not CLUSTER: return queries
    queries = [re.sub(numRegex, '[NUM]', q) for q in queries]
    queryEmbeddings = embedder.encode(queries)

    clustering_model = AgglomerativeClustering(n_clusters=None, distance_threshold=0.8) #, affinity='cosine', linkage='average', distance_threshold=0.4)
    clustering_model.fit(queryEmbeddings)
    labels = clustering_model.labels_
        # get 1 element for each cluster
    cluster = {}
    for i in range(len(labels)):
        if labels[i] not in cluster:
            cluster[labels[i]] = queries[i]
    print(f"Found {len(cluster)} clusters")
    return cluster.values()

In [52]:
for q in getAllQueriesForTask(9):
    print(q)

Found 29 queries for task 9
Found 9 clusters
join 'dfin[NUM]' and 'dfin[NUM]' column 'Type[NUM]' equals 'Type[NUM]' and 'Date[NUM]' equals 'Date[NUM]'
Filter when values in column 'Date[NUM]' in dfin[NUM] and values in column 'Date[NUM]' in dfin[NUM] are equal'
Get all columns from dfin[NUM] and dfin[NUM] with columns 'Type[NUM]' and 'Type[NUM]' have same value and columns 'Date[NUM]' and 'Date[NUM]' have same value
Merge dfin[NUM] and dfin[NUM] where columns 'Type[NUM]' and 'Type[NUM]' are equal and columns 'Date[NUM]' and 'Date[NUM]' are equal
join dataframe dfin[NUM] and dataframe dfin[NUM] on key[NUM] and key[NUM]
Inner Join on 'key[NUM]' and 'key[NUM]'
join rows with same "lkey" and "rkey" values
merge columns on "lkey" dfin[NUM] and "rkey" dfin[NUM]
calculate intersection of dfin[NUM] and dfin[NUM] where 'lkey' = 'rkey'